/build
/build_*
/shader
/install
/ark
/nnmodels/nvengines
/nnmodels
product_list.json
test
*.spv
*.pdb
*.o
*.o.tmp
.DS_Store
.vscode/ipch
crash.txt
record/
gmon.out
profiling.txt
cscope*
tags
*swp
*swo
configs/*.tck
configs/*.log
.kateproject
.vscode/
*.pro
*.pro.user
libprofiler.so
map_data
configs/HDLC/gml/*.yaml
sessions/*
test.jpg
images/*
cache/

